<div class="row">
  <div class="col-md-6 offset-md-3">
    <h2>Add a city</h2>
    <form ng-submit="citiesNew.create()">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" id="name" ng-model="citiesNew.city.name">
      </div>
      <div class="form-group">
        <label for="country">Country</label>
        <input type="text" class="form-control" name="country" id="country" ng-model="citiesNew.city.country">
      </div>
      <div class="form-group">
        <label for="airport">Airport</label>
        <input type="text" class="form-control" name="airport" id="airport" ng-model="citiesNew.city.airport">
      </div>

      <button class="btn btn-success">Create</button>
    </form>
  </div>
</div>
